body{
  background: #e2f5db;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #d12a78;
  -webkit-box-shadow: 0 1px 0 0 #d12a78;
  box-shadow: 0 1px 0 0 #d12a78;
}
.input-field .prefix.active{
  color:#d12a78;
}
.card{overflow: hidden;}
.menu li a.active{
  background: rgba(0,0,0,0.1);
}
.pro-sec {
  padding: 10px;
  background: #fff;
  overflow: hidden;
}
.pro-sec > a {
  display: block;
  float: left;
  margin-top: 5px;
  font-size: 17px;
  font-weight: bold;
}
.avater {
  margin-left: 15px;
  display: block;
  margin-right: 10px;
  height: 35px;
  width: 35px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
}
.avater img {
  width: 100%;
  height: 100%;
}
